<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('./partials/header') %>
  
  <section id="page-header" class="blog-header">
    <h2>#readmore</h2>
    <p>Read all case studies about our products!</p>
  </section>

  <section id="blog">
    <% if (blogs && blogs.length > 0) { %>
      <% blogs.forEach(b => { %>
        <div class="blog-box">
          <div class="blog-img">
            <img src="<%= b.image %>" alt="">
          </div>
          <div class="blog-details">
            <h4><%= b.title %></h4>
            <p><%= b.content %></p>
            <a href="#">CONTINUE READING</a>
          </div>
          <h1 style="color: #c9cbce; font-weight: 700; font-size: 70px; position: absolute; top: -40px; left: 0; z-index: -9;"><%= new Date(b.date).toLocaleDateString('en-US', { day: '2-digit', month: 'short' }).replace(' ', '/\n') %></h1>
        </div>
      <% }) %>
    <% } else { %>
      <div style="text-align: center; padding: 50px;">
        <h2>Check back soon!</h2>
        <p>There are no blog posts published yet.</p>
      </div>
    <% } %>
  </section>

  <%- include('./partials/footer') %>
  <script src="/js/script.js"></script>
</body>
</html>
